@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Lato:wght@300&family=Roboto+Condensed:wght@300&display=swap');

/* font-family: 'Alex Brush', cursive; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #232323;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto Condensed', sans-serif;
}

.page-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

.site-title {
  font-size: 3rem;
  font-family: 'Alex Brush', serif;
}

.navbar {
  background-color: rgb(37, 41, 37);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1.5rem;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar li a {
  font-size: 1.2rem;
}

.navbar li.active {
  border-bottom: 3px ridge white;
  color: orangered;
}

.navbar li:hover {
  /* border-bottom: 2px solid white; */
  color: orangered;
}

